:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;
    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;
    --blue: #007497;
    --white: #fff;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --font-family: cursive;
}

.light {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}


section {
    padding: 1rem rem 5% 0rem 5%;
}

/* INICIO DE IMÁGENES */
.container-image {
    position: relative;
    overflow: hidden;
}

.image-container {
    display: flex;
    gap: 1.5rem;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: scroll;
    scroll-padding: 0.5rem;
}

.image-container img {
    flex-shrink: 0;
    scroll-snap-align: center;
    width: 32rem;
    height: 30rem;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
}

.prev-button {
    left: 1rem;
}

.next-button {
    right: 1rem;
}






/* FIN DE IMÁGENES*/

/* .detalle-ticket {
    margin-top: 4rem;

}

.header-subcontent-dt {
    display: flex;
}

.header-subcontent-dt h5 {
    margin-left: 1rem;
}

.container-image {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.container-image #first-image {
    width: 100%;
    height: 30rem;
}

.container-image #second-image {
    width: 100%;
    height: 12.5rem;
}

.empaque {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: -19.5rem;
    width: 100%;
}

.empaque .custom-image {
    width: 17.7rem;
    height: 16.7rem;

} */



/* .detalles-s2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.detalles {
    grid-column: 1 / span 1;
}

.reserva {
    grid-column: 2 / span 1;
} */

.detalles-s2 {
    display: flex;
    flex-wrap: wrap;
}

.detalles {
    flex-basis: 50%;
}

.reserva {
    flex-basis: 50%;
}


@media (min-width: 768px) {
    .detalles-s2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .detalles {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .reserva {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
}




.precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

}

.precio h3 {
    margin-left: 5.5rem;
}

.precio .tipos-precio .circle {
    width: 6rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;

}

.duracion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.duracion h3 {
    margin-right: 20rem;
}

.guia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pr {
    margin-right: 16rem;
}


.accesibilidad {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mascotas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.incluye {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* INICIO CALENDARIO */
.calendar-container {
    max-width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
}

.day {
    font-weight: bold;
}

.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.calendar-date {
    text-align: center;
    padding: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
}

.calendar-date:hover {
    background-color: #e6e6e6;
}

@media screen and (max-width: 480px) {
    .calendar-container {
        max-width: 100%;
    }
}

/* FIN CALENDARIO */

.reserva .dropdown3 {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 0 5%;
}

.reserva .dropdown-button3 {
    background-color: #ffffff;
    color: #333;
    padding: 8px 16px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    padding: 1rem;
}

.dropdown-content3 a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content3 a:hover {
    background-color: #cccaca;
}

.icon {
    display: flex;
    align-items: center;
}

.icon i {
    margin-right: 5px;
    /* Ajusta el espacio entre el icono y el texto */
}

.icon h3 {
    margin: 0;
}

.reserva .dropdown4 {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 1% 5%;
}

.reserva .dropdown-button4 {
    background-color: #ffffff;
    color: #333;
    padding: 8px 16px;
    border: 1px solid black;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    padding: 1rem;

}





.dropdown-content4 .tipo-persona .cantidad {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

.dropdown-content4 .tipo-persona .cantidad .agregar {
    display: flex;
    justify-content: space-between;
}

.btn-reserva {
    position: relative;
    display: inline-block;
    width: 60%;
    margin: 1% 5%;
    background-color: #13265E;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 40px;
    height: 3rem;
    cursor: pointer;
}


#map {
    height: 400px;
    width: 100%;
}

@media (max-width: 768px) {
    .empaque .custom-image {
        width: 16.7rem;
    }
}