/*media querys*/

/* @media (max-width:1200px) {
    section {
        padding: 3rem 5%;
    }


} */

/* @media (max-width:1024px) {
    section {
        padding: 3rem 5%;
    }

    .home-packages .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        gap: 2rem;
    }

    .home-packages .box-container .box .content .stars {
        margin-top: 2%;
        color: gold;
        width: 40%;
    }

} */

/* @media (max-width:1366px) {
    section {
        padding: 3rem 5%;
    }


} */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }



    .home .slide .content h3 {
        font-size: 3vw;
    }


}

@media (max-width: 846px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }

    /* #menu-btn.fa-times{
        transform: rotate(180deg);
    } */

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: 1px solid #ada5a5;
        padding: 2rem;
        transition: .5s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }

    .search-bar {
        display: none;
    }


}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
        transition: .2s linear;
    }


    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--white);
        border-top: 1px solid #ada5a5;
        padding: 2rem;
        transition: .5s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        margin: 2rem;
        text-align: center;
    }

    .header .search-bar {
        display: block;
        text-align: center;
        width: 32rem;
    }

    .header .search-bar input[type="text"] {
        font-size: 2.2vw;
    }

    .dropdown {
        position: relative;
        display: grid;
    }

    .dropdown-content {
        position: relative;
    }

    .logo-text {
        font-size: 1.8rem;
    }

    .logo-text h4 {
        font-weight: 900;
    }

    .temas-lista li button i {
        display: none;
    }


    .home-packages .box-container {
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
    }

    .home-packages .box-container .image {
        height: 30rem;
    }

    .home-packages .box-container .image img {
        height: 30rem;
    }

    .scroll-button {
        width: 4rem;
        height: 4rem;
    }

    .sub-footer .box-container .box h3 {
        font-size: 1.3rem;
    }

    .modal .dividers {
        margin-top: 2rem;
    }

    .modal .dividers h5::before,
    .modal .dividers h5::after {
        width: 30%;
    }

    .modal .dividers h5::before {
        left: -6rem;
    }

    .modal .dividers h5::after {
        right: -6rem;
    }

    .pbox-container3 {
        overflow-x: auto;
        white-space: nowrap;
    }

    .box-container3 {
        display: flex;
    }

    .box-container3 .box-c3 {
        flex: 0 0 auto;
    }

    .scrolls3-button {
        display: block;
        font-size: 24px;
        border: none;
        background: #023047;
        cursor: pointer;
        width: 4rem;
        color: #FFFFFF;
        border-radius: 50%;
    }

    .scrolls3-button:hover {
        color: #FFD601
    }

    .scrolls3-button .left-button {
        margin-right: 10px;
    }

    .scrolls3-button .right-button {
        margin-left: 10px;
    }


}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading-title {
        font-size: 3.5rem;
    }

    .search-bar {
        display: none;
    }


    section .container {
        display: block;
        min-width: 320px;
        padding: 0 3px 0 3px;
    }

    .home-packages .box-container .image img {
        width: 38rem;
        height: 34rem;
        object-fit: cover;
        transition: .2s linear;
    }

    .temas {
        position: absolute;
        top: 35.5rem;
        width: 100%;
        z-index: 1;
        padding: 0rem 1%;
    }


    .temas .container .temas-lista {
        justify-content: space-between;
    }

    .temas-lista {
        display: flex;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
    }

    .temas-lista li {
        display: list-item;
    }


    .temas-lista li button {
        align-items: center;
        border-radius: 10px 10px 0 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.875rem;
        padding: 0;
        cursor: pointer;
        background: #ffff;
        color: #000000;
        border: none;
    }

    .temas-lista li button i {
        display: none;
    }

    .logo-text h4 {

        font-weight: 800;
        font-size: 2rem;
    }

    .home-packages .box-container {
        display: flex;
        overflow-x: scroll;
        gap: 2rem;
    }

    .load-more {
        display: none;
    }

}

@media (max-width:425px) {
    .temas {
        position: absolute;
        top: 35.5rem;
        width: 100%;
        z-index: 1;
        padding: 0rem 1%;
    }

    /* section .container {
        display: block;
        min-width: 320px;
        padding: 0 7px 0 0px;
    } */

    .temas .container .temas-lista {
        justify-content: space-between;
    }

    .temas-lista {
        display: flex;
        flex-grow: 1;
        margin: 0;
        /* overflow-x: scroll; */
        padding: 0;
        vertical-align: baseline;
    }

    .temas-lista li {
        display: list-item;
    }


    .temas-lista li button {
        align-items: center;
        border-radius: 10px 10px 0 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.875rem;
        padding: 0;
        cursor: pointer;
        background: #ffff;
        color: #000000;
        border: none;
    }

    .temas-lista li button i {
        display: none;
    }

    .logo-text h4 {

        font-weight: 800;
        font-size: 2rem;
    }

    .home-packages .box-container {
        display: flex;
        overflow-x: scroll;
        gap: 2rem;
    }

    /* .home-packages .box-container::-webkit-scrollbar{
        width: 0;
    } */
    .load-more {
        display: none;
    }

    .home-packages .box-container .image {
        height: 36rem;
        width: 35rem;
        overflow: hidden;
    }

}