@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,600&family=Poppins:wght@700&display=swap');

:root {
    --main-color: #142B6F;
    ;
    --black: #000000;
    --white: #ffffff;
    --light-black: #9FA3A9;
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: 1px solid var(--light-black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /* border: none; */
    text-decoration: none;
    list-style: none;

}

/* html {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--main-color);
} */

section {
    padding: 2rem 5%;
}

.heading-title {
    text-align: left;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--back);
}

.btn {
    display: inline-block;
    background: var(--back);
    margin-top: 1rem;
    color: var(--white);
    font-size: 1.7rem;
    padding: 1rem 3rem;
    cursor: pointer;

}

.btn:hover {
    background: var(--main-color);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

/*LOGO STARTS*/
.logo {
    color: #000000;
    margin-left: -1.1rem;
}

.logo img {
    margin-left: -7px;
}

.logo-text {
    display: inline-block;
    margin-left: 0rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.logo-text h4 {
    font-weight: 900;
}

/*LOGO ENDS*/
/* .header .navbar {
    display: contents;
} */

.header .navbar a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    margin-left: 2rem;
    color: var(--back);
}

.header .navbar a:hover {
    color: var(--main-color)
}

.btn-registrarse {
    color: #13265E;
    font-weight: 600;
    padding: 0px 12px;
    margin-left: 5px;
    margin-right: 0em;
    background: #FDB62F;
    border-radius: 5px;
    height: 32px;
    border: none;
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-size: 14px;
    line-height: 1.334;

}

.btn-registrarse:hover {
    background-color: #faa403;
}

.btn-iniciarsesion {
    color: #000000;
    padding: 0px 12px;
    margin-left: 8px;
    background: #FFFFFF;
    border: 1px solid #949494;
    border-radius: 5px;
    height: 32px;
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-size: 14px;
    line-height: 1.334;
}

.btn-iniciarsesion:hover {
    border: 1px solid #000000
}

#nombre-usuario {
    color: #13265E;
    font-weight: 600;
    padding: 0px 12px;
    margin-left: 5px;
    margin-right: 0em;
    background: #FFFFFF;
    border-radius: 5px;
    height: 32px;
    border: none;
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    font-size: 14px;
    line-height: 1.334;
}

#nombre-usuario i {
    padding-right: 1rem;
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--back);
    display: none;
}


.header .search-bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
    background: #ffffff;
    width: 22rem;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
    border: 1px solid #cdc4c4;
}

.search-bar form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar form .input-wrapper {
    flex: 1;
}

.search-bar form .button-wrapper {
    margin-left: 10px;
}

.search-bar input[type="text"] {
    width: 100%;
    border: 0;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.search-bar form button {
    background: #142B6F;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
    padding-bottom: 1px;
    padding-right: 5px;
}

.search-bar form button i {
    width: 2rem;
    margin-top: 7px;
}



.temas {
    position: absolute;
    top: 35rem;
    width: 100%;
    z-index: 1;
    padding: 0rem 5%;
}

section .container {
    display: block;
    min-width: 320px;
    padding: 0 0px 0 0px;
}

.temas .container .temas-lista {
    justify-content: space-between;
}

.temas-lista {
    display: flex;
    flex-grow: 1;
    margin: 0;
    /* overflow-x: scroll; */
    padding: 0;
    vertical-align: baseline;
}

.temas-lista li {
    display: list-item;
}

.temas-lista li button {
    align-items: center;
    border-radius: 16px 16px 0 0;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.875rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
    border: none;
}

.temas-lista li .btn-active {
    background: #ffff;
    color: #000000;
}

.temas-lista .btn-desactive {
    background: transparent;
    color: #ffffff;
}

/* CATEGORIES ENDS*/


/* packages starts */

/* .home-packages {
    background: var(--light-bg);
} */
.home {
    padding: 0;
}

.home .slide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/images/fondo.jpg');
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    min-height: 38rem;
    width: 100%;
    object-fit: cover;
}

.home .slide .content {
    width: 85rem;
}

/* .home .slide .content span{
    display: block;
    font-size: 2.2rem;
    color: var(--light-white);
    padding-bottom: 1rem;
} */

.home .slide .content h1 {
    font-size: 3vw;
    color: #eee;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
}

.home .slide .content h3 {
    font-size: 1.5vw;
    color: #eee;
    line-height: 1;
    text-shadow: var(--text-shadow);
    padding: 1rem 0;
    font-weight: 400;
}

.home-packages .box-container .box {
    /* border: 1px solid #222; */
    /* box-shadow: var(--box-shadow); */
    /* background: var(--white); */
    border-radius: .2rem;
    border: 0.1rem solid #e0e0e0;

}

.home-packages .box-container {
    display: grid;
    /* grid-template-columns: repeat(4, 24%); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.home-packages .box-container .image {
    height: 16rem;
    overflow: hidden;
}

.home-packages .box-container .image img {
    width: 100%;
    height: 16rem;
    /* object-fit: cover; */
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.home-packages .box-container .image:hover img {
    transform: scale(1.5);
}

.home-packages .box-container .box .content {
    padding: .5rem .7rem .7rem .7rem;
    text-align: left;
}



.content-title {
    height: 3rem;
}

.content-title h3 {
    font-weight: 700;
    font-size: 0.95rem;
}

.tarjetas .box-container .box .content h3,
h4,
strong {
    margin-top: 2%;
}

.ticket-color {
    color: #949494;
    font-weight: 600;
    font-size: 1rem;
}

.home-packages .box-container .box .content .duracion {
    font-weight: 400;
    /* margin-top: 5%; */
    font-size: 15px;
}

.home-packages .box-container .box .content .aviso {
    background: red;
    border-radius: 5px;
    padding-left: 3%;
    color: #FFFFFF;
    width: 70%;
    height: 10%;
    font-weight: 700;
    /* margin-top: 3%; */
    font-size: 15px;
    margin-top: 2%;
}

.home-packages .box-container .box .content .stars {
    margin-top: 2%;
    color: gold;
    width: 40%;
}

.puntuacion {
    width: 100%;
    display: flex;
    font-size: 14px;
}

.puntuacion h4 {
    color: #949494;
    font-weight: 500;
}

.price {
    display: flex;
    font-size: 15px;
}

.price h4 {
    margin-left: 6px;
    font-weight: 400;
}

/* .home-packages .load-more {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.home-packages .load-more a {
    color: var(--black);
    font-size: 15px;
} */

#btn-izq {
    width: 70px;
    border: 1px solid #023047;
    border-radius: 30px;
    position: absolute;
    left: 64.62%;
    padding: 1rem;
}

#btn-der {
    border: 1px solid #023047;
    left: 30%;
    border-radius: 30px;
    position: absolute;
    padding: 1rem;
    width: 70px;
}


/* packages ends */
.footer {
    background-color: #142B6F;
    color: #eee;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;

}

.footer .box-container .box h3 {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 1rem;

}

.footer .box-container .box a {
    color: var(--light-white);
    font-size: 14px;
    padding-bottom: 0.5rem;
    display: block;

}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}



/* .footer .credit span {
    color: #8e44ad;
} */

.sub-footer {
    background: #13265E;
    color: #eee;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 1% 5% 1% 5%;

}

.sub-footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;

}

.sub-footer .box-container .box h3 {
    color: var(--white);
    font-size: 14px;
    padding-bottom: 1rem;
    font-weight: 300;
    display: flex;
    /* align-content: center; */
    align-items: center;
    padding-top: 1rem;

}

.sub-footer .box-container .box a {
    color: var(--light-white);
    /* font-size: 1.5rem; */
    padding: 1rem;

}

.pbox-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container2 {
    display: flex;
    overflow: hidden;
}

.box-container2 .box-c2 {
    border-radius: .5rem;
    border: 0.1rem solid #e0e0e0;
    margin: 0.5rem;

}

.box-container2 .image2 {
    overflow: hidden;
    display: flex;
    height: 12rem;
}

.box-container2 .image2 img {
    width: 18.1rem;
    height: 12rem;
    border-radius: .5rem .5rem 0 0;
    /* object-fit: cover; */
    transition: 0.5s all ease-in-out;
}

.box-container2 .image2:hover img {
    transform: scale(1.5);
}

.box-container2 .box-c2 .content2 {
    padding: 1rem 1rem 0.5rem 0.5rem
}

.box-container2 .box-c2 .content2 .titilec2 {
    background: #13265E;
    padding: 0.3rem 0.3rem 0.3rem 0.7rem;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 800;
    border-radius: .3rem;
}

.box-container2 .box-c2 .content2 h4 {
    font-size: 15px;
    color: #949494;
    font-weight: 600;
    margin-left: 0.8rem;
}

.scroll-button {
    font-size: 24px;
    border: none;
    background: #023047;
    cursor: pointer;
    width: 2rem;
    color: #FFFFFF;
    height: 2rem;
    border-radius: 50%;
}

.scroll-button:hover {
    color: #FFD601
}

.prev-button {
    margin-right: 10px;
}

.next-button {
    margin-left: 10px;
}








.pbox-container3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container3 {
    display: flex;
    overflow: hidden;
}

.box-container3 .box-c3 {
    border-radius: .5rem;
    border: 0.1rem solid #e0e0e0;
    margin: 0.5rem;
}

.box-container3 .box-c3 .image3 {
    overflow: hidden;
    width: 10rem;
    height: 9rem;
    display: flex;
}

.box-container3 .image3 img {
    width: 10rem;
    height: 9rem;
    border-radius: .5rem;
    transition: 0.5s all ease-in-out;
}

.box-container3 .image3:hover img {
    transform: scale(1.5);
}

.box-container3 .box-c3 .content-c3 {
    padding: 1rem 1rem 0.5rem 0.5rem;
}

.box-container3 .box-c3 .title-c3 {
    font-size: 1rem;
    font-weight: 800;
    padding: 1rem 1rem 0.3rem 1rem;
}

.box-container3 .box-c3 .subtitle-c3 {
    padding: 0 1rem 0.5rem 1rem;
    color: #9FA3A9;
    font-weight: 500;
}

.box-container3 .box-c3 #linea-c3 {
    width: 93%;
    height: 2px;
    background-color: #A7A7A7;
    margin: 0 1rem 0.5rem 1rem;
}

.box-container3 .box-c3 .content-c3 .subcontent-c3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.box-container3 .box-c3 .content-c3 .subcontent-c3 .image3 {
    flex: 0 0 auto;
}

.box-container3 .box-c3 .content-c3 .subcontent-c3 .subtitle-subcontent-c3 {
    flex: 1 1 auto;
    margin-left: 1rem;
}

.box-container3 .box-c3 .content-c3 .subcontent-c3 .subtitle-subcontent-c3 h5 {
    margin-top: 5%;
    color: #2f478f;
}


.scrolls3-button {
    display: none;
}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #f1f1f1;
    color: #333;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}