@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,600&family=Poppins:wght@700&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;

}

html {
    /* font-size: 62.5%;*/
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}

.main-container {
    padding: 0 4%;
    margin-top: 2%;
  }
  
.pagination{
    position: absolute;
    width: 400px;
    height: 42px;
    left: 365px;
    padding: 2%;
    margin: 2%;
    justify-content: center;
    align-items: center;
}

#btn-izq{
    position: absolute;
    left: 0%;
    right: 87.62%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #023047;
    border-radius: 30px;
    width: 70px;
}
#btn-der{
    position: absolute;
    left: 87.62%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    border: 1px solid #023047;
    border-radius: 30px;
    width: 70px;
}
#text-pagination{
    position: absolute;
    left: 39.52%;
    right: 39.52%;
    bottom: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    width: 35%;
    color: #000000;
}
#text-pagination h5{
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}
